* {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    min-width: 1080px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#about-left-section {
    padding: 0px 20px 0px 10px;
    position: fixed;
    top: 120px;
    height: 80%;
    width: 380px;
    display: flex;
    align-items: center;
}

.about-left-inner-list-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-left-inner-div {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    box-shadow: rgba(147, 147, 147, 0.3) 0px 1px 15px 1px;
    border-radius: 8px;
    transition: all 0.4s ease;
}

.about-left-current-person {
    background: linear-gradient(to right, rgb(225, 225, 225), #fafafa);
    box-shadow: none;
    transform: translateX(10px);
}

.about-left-inner-name-line {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.about-left-inner-work {
    font-size: 13px;
}

.about-section {
    width: calc(100% - 380px);
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    padding: 20px 10px 20px 0px;
}

.about-section-cover-div {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.about-cover-image {
    height: 180px;
    position: absolute;
    bottom: -50px;
    left: 35px;
    border: 4px solid white;
    border-radius: 50%;
    z-index: 1;
}

.about-general-details-div1 {
    padding: 70px 100px 25px 40px;
    position: relative;
    background-color: white;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.about-general-details-left {
    display: flex;
    flex-direction: column;
}

.about-section-detailed-name-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-section-detailed-name {
    font-size: 24px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    font-weight: 550;
    letter-spacing: 0.4px;
}

.about-section-detailed-bio-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    opacity: 0.95;
    letter-spacing: 0.2px;
    font-size: 15px;
}

.about-section-detailed-contact-div {
    padding: 10px 0px;
    font-size: 15px;
    opacity: 0.9;
    letter-spacing: 0.3px;
}

.about-section-detailed-bio-website {
    transition: all 0.25s ease;
    text-decoration: none;
    color: black;
}

.about-section-detailed-bio-website:hover {
    color: #978f5d;
}

.about-section-bio-email {
    transition: all 0.25s ease;
}

.about-section-bio-email:hover {
    color: #978f5d;
}

.about-section-bio-lower-div {
    opacity: 0.75;
}

.about-section-bio-contact-text {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    color: #06509a;
}

.about-section-bio-buttons-div {
    padding: 20px 0px;
    display: flex;
    gap: 20px;
}

.about-section-bio-hire {
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A66C2;
    color: white;
    border-radius: 30px;
    letter-spacing: 1px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.about-section-bio-hire:hover {
    background-color: #09417a;
}

.about-section-bio-skills {
    border: 1.8px solid #0A66C2;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A66C2;
    border-radius: 30px;
    letter-spacing: 1px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.about-section-bio-skills:hover {
    background-color: #0A66C2;
    color: white;
}


.about-section-bio-contact {
    border: 1.8px solid rgba(0, 0, 0, 0.4);
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    letter-spacing: 1px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.about-section-bio-contact:hover {
    border: 1.8px solid #0A66C2;
    color: #0A66C2;
}

.about-section-inner-div {
    margin-top: 20px;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
    border-radius: 13px;
    background-color: white;
    padding: 40px 45px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 20px;
}

.about-section-inner-div-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section-inner-div-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section-inner-heading {
    font-size: 24px;
    letter-spacing: 0.2px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    /* font-weight: 700; */
}

.about-section-about-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.92;
    letter-spacing: 0.4px;
}

.about-section-about-inner>p {
    line-height: 1.75;
}

.about-section-about-div-website-link {
    transition: all 0.25s ease;
    border-bottom: 1px solid gray;
    color: #09417a;
}

.about-section-about-div-website-link:hover {
    color: #0054c3;
}

.about-section-personal-details-div {

    flex-direction: row;

}

.about-section-personal-details-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-section-social-link-icons-div {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.about-section-social-link-icons-div>a>img {
    transition: all 0.3s ease;
}

.about-section-social-link-icons-div>a>img:hover {
    scale: 1.075;
}

.about-section-round-lists-div {
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-section-round-list {
    border: 1.8px solid gray;
    border-radius: 35px;
    height: 50px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;
}

.about-section-round-list:hover {
    background-color: rgb(78, 78, 78);
    color: white;
}

.about-section-round-lists-div-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contributions-list {
    line-height: 2;
    padding: 5px 0px 0px 40px;
}

.about-section-form-div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #fafafa;
}

.about-section-form-div-inner {
    display: flex;
}

.about-section-form-div-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-form-div-right {
    width: 60%;
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.about-section-feedback-heading {
    font-size: 24px;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    color: #06509a;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-section-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.abot-section-form-input-div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 5px;
    gap: 15px;
}

.abot-section-form-input-div>input {
    border: none;
    outline: none;
}

.about-section-form-submit-button {
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #0A66C2;
    color: white;
}