footer {
    /* border: 2px solid red; */
    width: 100%;
    background-color: #85858519;
    border-radius: 6px;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 30px; */
}

.footer-upper-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.footer-upper-inner-div {
    /* border: 2px solid blue; */
    width: 200px;
    display: flex;
    justify-content: center;
}

footer ul {
    list-style-type: none;
}

footer ul>li {
    opacity: 0.77;
    font-size: 0.95rem;
    letter-spacing: 0.4px;
    line-height: 1.8;
    transition: color 0.3s ease-in-out;
}

footer ul>li:hover {
    color: #bd8448;
}

footer>hr {
    width: 75%;
    opacity: 0.4;
}

.footer-lower-section {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
}

.footer-logo-section {
    /* border: 2px solid red; */
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer-comapny-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 20px;
}

.footer-comapny-details>span:first-child {
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.footer-comapny-details>span:nth-child(2) {
    /* border: 2px solid; */
    margin-top: 10px;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.footer-contact-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.footer-talk-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-social-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-social-links>img {
    transition: all 0.35s ease-in-out;
}

.footer-social-links>img:hover {
    scale: 1.1;
}

.footer-subscribe-section>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-subscribe-section>form>input:first-child {
    width: 220px;
    height: 35px;
    border: 1.4px solid black;
    border-radius: 20px;
    padding-left: 15px;
    background: transparent;
}

.footer-subscribe-section>form>input:nth-child(2) {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: #058bed;
    color: rgb(255, 255, 255);
}

#footer-second-hr {
    width: 95%;
    opacity: 0.7;
}

.footer-copyright-section {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}