footer {
    width: 100%;
    background-color: #0083dd;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-upper-section {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-upper-section>div {
    width: 250px;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-store-details img {
    margin-bottom: 15px;
}

.footer-store-details>div>span:first-child {
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1.7px;
    font-family: poppins-bold, Arial, Helvetica, sans-serif;
}

.footer-store-details>div>p {
    font-size: 0.8rem;
}

.footer-upper-section span {
    color: white;
    font-size: 1rem;
    letter-spacing: 1.7px;
    font-family: poppins-bold, Arial, Helvetica, sans-serif;
}

.footer-upper-section ul {
    list-style-type: none;
    font-size: 0.9rem;
}

.footer-upper-section>div:last-child {
    width: 340px;
}

.footer-newsletter-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-newsletter-section input:first-child {
    border: 1px solid white;
    border-radius: 30px;
    width: 220px;
    height: 40px;
    padding-left: 20px;
    align-self: flex-start;
    background-color: transparent;
}

.footer-newsletter-section input::placeholder {
    color: aliceblue;
}

.footer-newsletter-section {
    color: aliceblue;
    font-size: 0.9rem;
}

#newsletter-submit-button {
    width: 120px;
    height: 40px;
    border: transparent;
    border-radius: 30px;
    padding: 0;
    background-color: aliceblue;
}

footer>hr {
    width: 80%;
    opacity: 0.6;
}

.footer-lower-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}