/* Body style rules */

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1000px;
}

/* -------------  Hero Section Starts ------------- */

#hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
}

#slider-images {
    width: 100%;
    height: auto;
    display: flex;
    transition: transform 0.7s ease-in-out;
}

#slider-images>img {
    height: auto;
    width: 100%;
    flex-shrink: 0;
    z-index: 0;
}

.slider-button {
    width: 40px;
    height: 80px;
    background-color: #e8e8e8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-button>img {
    opacity: 0.4;
}

#slider-previous-button {
    left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#slider-next-button {
    right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#slider-next-button>img {
    transform: rotate(180deg);
}

#swipe-up-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    gap: 10px;
}

#top-products-section {
    padding: 60px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#top-products-section>p {
    font-size: 65px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, red, blue);
    /* background-image: url("/images/homepage_images/text-bg.jpeg"); */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 40px rgba(255, 0, 0, 0.4);
    animation: text-bg-anime 1.5s infinite alternate;

}

@keyframes text-bg-anime {
    100% {
        text-shadow: 0 0 40px rgba(21, 0, 255, 0.4);
    }
}

/* -------------  Hero Section Ends ------------- */


/* -------------  Top products Section Starts ------------- */

#top-products,
#top-deal-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    gap: 20px;
}

#top-products>div,
#top-deal-products>div {
    width: 30%;
    min-width: 300px;
    transition: all 0.6s ease;
}

#top-products>div:hover,
#top-deal-products>div:hover {
    scale: 1.06;
}

.top-product {
    background-color: white;
    box-shadow: rgba(147, 147, 147, 0.1) 0px 1px 15px 1px;
    padding: 50px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.top-product-details {
    max-width: 200px;
}

.top-product-brand {
    font-size: 20px;
    letter-spacing: 1px;
}

.top-product-name {
    font-size: 24px;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}

.top-product-name:hover,
.product-name:hover,
.featured-product-name:hover {
    color: #bd8448;
}

.top-product-new-price {
    letter-spacing: 1px;
    color: green;
    font-size: 20px;
}

.top-product-old-price {
    text-decoration: line-through;
    font: 10px;
    color: gray;
    opacity: 1;
}

.top-product-description {
    opacity: 0.8;
    font-size: 14px;
}

#products-slider-section {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#products-slider-container {
    height: 100%;
    width: 96%;
    padding: 20px 0px 20px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
}

#products-slider-container>div {
    transition: all 0.4s ease;
}

#products-slider-container>div:hover {
    scale: 1.02;
}

.products-slider-title {
    width: 92%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: transparent;
    background: linear-gradient(to right, rgb(94, 94, 94), #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

#products-slider-container::-webkit-scrollbar {
    width: 120px;
}

#products-slider-container::-webkit-scrollbar-thumb {
    background-color: gray;
}

#products-slider-container::-webkit-scrollbar-track {
    background-color: white;
}

.slider-product {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 280px;
    flex-shrink: 0;
    box-shadow: rgba(147, 147, 147, 0.1) 0px 1px 15px 1px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.slider-product-upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.paper-type {
    border: 1.1px solid rgb(204, 204, 204);
    border-radius: 40px;
    color: black;
    padding: 0px 10px;
    text-align: center;
}

.launch-date {
    background-color: #e41920;
    border-radius: 40px;
    padding: 0px 12px;
    color: white;
    text-align: center;
}

.slider-product-lower {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-name {
    font-size: 22px;
    transition: all 0.4s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.slider-product-lower hr {
    width: 95%;
    opacity: 0.5;
}

.new-price {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
}

.old-price {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    font-size: 12px;
}

.discount-percent {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    color: green;
    font-size: 14px;
}

.price-tax-details {
    color: gray;
    font-size: 12px;
}

#top-deals-section {
    padding: 20px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#top-deals-section>p {
    width: 95%;
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to right, rgb(94, 94, 94), #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 1px;
}

#showcase-section {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase-section>p {
    width: 95%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: transparent;
    background: linear-gradient(to right, rgb(94, 94, 94), #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 40px;
}

.showcase-premium-product {
    background-color: white;
    /* height: 500px; */
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(147, 147, 147, 0.1) 0px 1px 15px 1px;
}

.showcase-left {
    width: 50%;
    height: 100%;
    padding: 3% 4%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.showcase-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-right-img>img {
    box-shadow: rgba(147, 147, 147, 0.1) 0px 1px 15px 1px;
    transition: all 0.6s ease;
}

.showcase-right-img>img:hover {
    scale: 1.06;
}

.featured-product-name {
    font-size: 35px;
    line-height: 52px;
    color: #353535ce;
    transition: all 0.4s ease;
}

.featured-product-brief {
    font-size: 22px;
    line-height: 30px;
    color: #353535ce;
}

.featured-product-desc {
    color: #353535ce;
}

.featured-product-price {
    display: flex;
    align-items: center;
}

.featured-new-price {
    color: red;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.featured-old-price {
    text-decoration: line-through;
    font-size: 18px;
}

.featured-discount {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    color: green;
    font-size: 20px;
}