#product-details-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px 100px 0px;
}

#product-details-section>div {
    background-color: #fff;
    box-shadow: rgba(147, 147, 147, 0.5) 0px 1px 15px 1px;
    width: 80%;
    /* height: 1000px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    position: relative;
}

.product-details-upper {
    width: 100%;
    margin: 25px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product-details-upper-left {
    width: 70%;
    max-width: 500px;
    min-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.product-details-upper-left>img {
    transition: all 0.4s ease-in-out;
}

.product-details-upper-left>img:hover {
    scale: 1.08;
}

.product-details-upper-right {
    padding: 20px 10px;
    height: 75vh;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* overflow: hidden; */

}

.product-general-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pr-id {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    opacity: 0.67;
    font-size: 0.75rem;
    margin-bottom: -5px;
}

.brand-name {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.model-name {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
}

.model-name:hover {
    color: #bd8448;
}

.breif-details {
    max-width: 400px;
    opacity: 0.67;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
}

.description {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 550;
    opacity: 0.8;
    max-width: 450px;
    text-align: justify;
}

.rating-details {
    letter-spacing: 0.2px;
    font-size: 0.8rem;
    opacity: 0.67;
}

.price-details {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.5px;
}

.price-details>div {
    display: flex;
    align-items: center;
}

.current-price {
    font-size: 1.3rem;
    color: red;
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
}

.old-price {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.discount-percent {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    color: green;
    font-size: 0.8rem;
}

.tax-details {
    font-size: 0.7rem;
    opacity: 0.7;
}

.quantity-div>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.quantity-div span {
    font-family: Poppins-bold, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.quantity-changing-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

.product-quantity-div {
    border: 1px solid rgba(0, 0, 0, 0.312);
    width: 32px;
    height: 32px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-div {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(0, 0, 169);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    hanging-punctuation: 5px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.add-to-cart-div:hover {
    background-color: #120083;
}

.buy-now-button-div {
    background-color: #fb8245;
    height: 50px;
    min-height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 5px;
    transition: all 0.2s ease-in-out;
}

.buy-now-button-div:hover {
    background-color: #fc6317eb;
}

.buy-now-button-div>input {
    outline: none;
    color: white;
    font-size: 0.9rem;
    background: transparent;
    border: none;
}

.products-back-button-div {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: rgb(230, 230, 230);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    right: 25px;
    top: 25px;
    transition: all 0.2s ease-in-out;
}

.products-back-button-div:hover {
    background-color: rgb(198, 196, 196);
}

#goBackToProductsButton {
    background: transparent;
    border: none;
}

#message-right-bottom-div {
    border-radius: 8px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-height: 65px;
    min-width: 290px;
    background-color: rgb(27, 27, 27);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 10px 20px;
}