/* Downloaded fonts */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Font Variables */

:root {
    --body-font: Poppins;
    --price-font: Rubik;
    --body-bold-font: Poppins-bold;
}

/* Universal style rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

body {
    min-width: 300px;
}